﻿
@{
    ViewBag.Title = "Index";
}

<h2>Member Status Types Across All RAs</h2>
<p>
    With this report, the Single Scheme Administration Project team will aim to determine the number of members under different member status types across the whole public sector. It is expected that some members may have more than one status and be in a status category more than once. This report will not provide granular detail on members. It is possible to run this repory across different periods of time and to filter by different membership categories and statuses.
</p>


<iframe width="100%" height="700"  frameborder="0" allowFullScreen="true" src="@(ViewBag.IFrameUrl)"></iframe> 
