﻿@using Chart.Mvc.Extensions
@using Services.Enum
@model Databank.Models.ChartViewModel


@{
    string canvas = Model.CanvasId;
    string legendName = Model.CanvasId + "_legend";
}


<h3>@Model.ChartName</h3>
<div class="clearboth"></div>
<div class="chart-canvas">
    <canvas id="@canvas" width="@Model.CanvasWidth" height="@Model.CanvasHeight"></canvas>

    @if (Model.ChartType == ChartType.PieChart)
    {
        @Html.CreateChart(canvas, Model.PieChart)
    }
    else if (Model.ChartType == ChartType.BarChart)
    {
        @Html.CreateChart(canvas, Model.BarChart)
    }
</div>
<div id="@legendName" class="chart-legend"></div>

<div class="clearboth"></div>
