﻿@using Databank.Helpers
@using Microsoft.AspNet.Identity
@using Services.Enum
@using Services.Services
<div class="menu-bar">
    <div class="row">

        <div class="col tab not-selected">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </div>

        @{
            var isAdmin = SecurityHelper.IsAdmin();
            var canViewDetails = SecurityHelper.CanViewDetails();

        }

        @if (canViewDetails)
        {
            <div class="col tab not-selected">
                <a href="@Url.Action("Index", "FileHistory")">File History</a>
            </div>
        }
        @if (isAdmin)
        {
            <div class="col tab not-selected">
                <a href="@Url.Action("Index", "Admin")">Administration</a>
            </div>
        }

        <div class="hr-menu col sub-menu-parent not-selected">
            Reports
            <div class="sub-menu">
                <ul class="menu-section">
                    @{

                        var userId = Convert.ToInt32(HttpContext.Current.User.Identity.GetUserId());
                        var accountService = new AccountService();
                        var reports = accountService.GetUserReports(userId);
                    }

                    @foreach (var report in reports)
                    {
                        <li class="sub-menu-item">
                            <a href="@report.ReportUrl">@report.ReportName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
