﻿@model Databank.Models.ModuleViewModel

<div class="security-summary">
    @($"{Model.User.SecurityGroup.Name} - Security Profile for {Model.User.Username}")
</div>
<div class="user-summary">
    <span class="black-bold">@Model.User.Username</span><span> has </span><span class="black-bold">@Model.User.SecurityAccessType.Name</span><span> to the departments and menus outlined below.</span>
</div>
<div class="row">
    <div class="col col-first">
        <div class="inner-col">
            <div class="col-header">Security Group Members</div>
            @if (Model.User.SecurityGroup?.Members != null)
            {
                foreach (var user in Model.User.SecurityGroup.Members)
                 {
                     <div class="row-listing-label">
                         @user
                     </div>
                 }
            }
        </div>
    </div>
    <div class="col">
        <div class="inner-col">
            <div class="col-header">Menu Access</div>
            @foreach (var menu in Model.User.Menu)
            {
                <div class="row-listing-label">
                    @menu.Name
                </div>
            }
        </div>

    </div>
    <div class="col">
        @if (Model.DepartmentAccess)
        {
            <div class="inner-col">
                <div class="col-header">Department Access</div>
                @foreach (var dept in Model.User.DepartmentGroups)
                {
                    <div class="row-listing-label">
                        @dept.Name
                    </div>
                }
            </div>
        }
    </div>
</div>
