﻿@model Databank.Models.ModuleViewModel
@{
    ViewBag.Title = "Module";
}


@section SiteHeading
{

}

@section Breadcrumb
{
}


@Html.Partial("_ReportMenu")

<div class="summary-area">
    <h1>
        @Model.ModuleHeading
    </h1>
    <div class="clearboth"></div>
    @Html.Partial("_ModuleSummary", Model)
</div>


