﻿@using Databank.Helpers
@using Microsoft.AspNet.Identity
@using Services.Enum
@using Services.Services
@model Databank.Models.HomeViewModel


@{
    ViewBag.Title = "Home";
    ViewBag.ContainerClass = "homepage";
}


@section SiteHeading
{
    <div class="content-page-header">
        <h1>
            Accrued Liability - Pensions Management
        </h1>
    </div>
}

@section Breadcrumb
{
}

@{
    var canViewDetails = SecurityHelper.CanViewDetails();
}

<div class="clearboth"></div>

<div class="content-page">
    <p> This application provides information on the pensions data collected and compiled by the Pensions Unit in PER. Data is provide by every public body in three forms</p>
    <ul>
        <li>Pensions in Payment</li>
        <li>Deferred Pension Payments</li>
        <li>Active Public Servants</li>
    </ul>
    <div class="scheme-log">

        @if (Model.RecentFiles != null && Model.RecentFiles.Any())
        {
            <div class="grid-list half">
                <div class="grid-list-inner">
                    <h2>
                        <i class="icon-clock"></i>
                        Most Recent Uploads
                    </h2>
                    @foreach (var log in Model.RecentFiles)
                    {
                        <div class=" usage row">
                            
                            
                            @if (canViewDetails)
                            {
                                <a href='@Url.Action("FileManager", "FileHistory", new {relevantAuthorityId = @log.RelevantAuthority.RelevantAuthorityId, schemeType = @log.SchemeType, year = @log.Year})'>@log.RelevantAuthority.RelevantAuthorityName</a>
                            }
                            else
                            {
                                @log.RelevantAuthority.RelevantAuthorityName
                            }
                            <p>
                                @log.UploadedBy has uploaded the file &nbsp;<span class="highlight-name">@log.FileName</span>&nbsp; for the year &nbsp;<span class="highlight-name">@log.Year</span>

                                <div class="text-muted">
                                    @if (log.ModifyDate != null)
                                    {
                                        @log.ModifyDate.Value.ToString("dd/MM/yyyy HH:mm")
                                    }
                                </div>
                            </p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="clearboth"></div>


</div>
