﻿@{
    ViewBag.Title = "Adminstration";
}


@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>Accrued Liability - Administration</h1>
    </div>
}

<div class="admin-homepage">
    <span>Users may be created or updated using the options below. It is important to double check with the PER Pensions team concerning all access requests. The data is highly sensitive system and all user requests must go through John Pender in the Pension teamm.</span>
    <div class="administration-section">
        <div class="clearboth"></div>

        <div class="admin-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-user"></i>
                    @Html.ActionLink("Registration", "Register")
                </div>
                <div class="details-section">
                    <span>Click here to create a new user to access the application</span>
                </div>
                <div class="link-section">
                    @Html.ActionLink("Create User", "Register")
                </div>
            </div>
        </div>
    </div>
    <div class="clearboth"></div>
    <div class="clearboth padding-bottom-30"></div>
    <div class="clearboth"></div>
</div>
