﻿
.ParamLabelCell {
    padding-left: 10px;
}

span {
    font-family: 'Lato';
}

.ParamLabelCell span {
    color: #2c3e50 !important;
    font-weight: bold;
    margin-right: 20px;
}

.reportviewer table {
    margin-top: 10px;
    font-family: 'Lato' !important;
}

.reportviewer label {
    margin-top: 10px;
}

.reportviewer img
{
    height: auto !important;
    width: auto !important;
    min-width: initial !important;
}

.reportviewer button,
.reportviewer html [type="button"],
.reportviewer [type="reset"],
.reportviewer [type="submit"] {
    -webkit-appearance: button;
    font-family: 'Lato';
    background-color: #6F4B99;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    min-width: 60px;
    color: #FFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Reporting layout*/

.report-section {
    float: left;
}

.vertical-menu {
    width: 190px;
    float: left;
    margin-right: 10px;
}

.reportviewer {
    width: 1280px;
    float: right;
    min-height: 2200px;
    overflow: auto;
}

.viewer {
    min-height: 2000px;
}

.report-vertical-menu-header {
    height: 30px;
    color: #5D6978;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

.report-vertical-menu-entry {
    height: 30px;
    color: #5D6978;
    font-size: 11px;
    line-height: 30px;
    border-top: 1px solid #DBDEE3;
}

.report_vertical-menu-group {
    border-bottom: 1px solid #A5AAB0;
}
