﻿@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
    padding-bottom: 20px;
    font-family: 'Lato';
    background-color: #F0F4F9;
    text-transform: none !important;
    color: #5D6978;
}

a {
    color: #5D6978;
}

    a:hover {
        color: #6F4B99;
        text-decoration: none;
    }

.navbar-collapse a:hover {
    color: #ffffff;
}

.title a {
    height: 70px;
    color: #6F4B99;
    font-size: 23px;
    font-weight: 900;
    line-height: 70px;
    float: left;
}

h1 {
    height: 36px;
    color: #6F4B99;
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    float: left;
    margin-top: 30px;
    margin-bottom: 15px;
}

.bg-primary {
    background-color: #00241A !important;
    min-height: 40px;
}

.login .action-toolbar {
    display: none;
}

.action-toolbar {
    float: right;
    padding-top: 30px;
    font-size: 14px;
    color: #265EAC;
}

    .action-toolbar i {
        margin-right: 5px;
    }

.clearboth {
    clear: both;
}

a {
    color: #265EAC;
}

.sub-header-info {
    height: 24px;
    color: #5D6978;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.body-container {
    min-height: 800px;
    float: left;
    width: 1320px;
}


.logo {
    background-image: url('../images/PublicExpenditure_Small.png');
    background-repeat: no-repeat;
    float: right;
    width: 209px;
    height: 76px;
}

.navbar-header {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: contain;
}

.navbar-brand {
    margin-left: 10px;
}

.header-area {
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
}
/* HEADING */
.main-site-heading {
    text-align: center;
}

    .main-site-heading h1 a {
        color: #004D44;
        font-weight: 900;
        margin-left: 10px;
        font-size: 23px;
    }


/* Category Bar*/

.login .menu-bar {
    line-height: 50px;
    height: 70px;
}

.login .body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.menu-bar {
    background-color: #6F4B99;
    padding: 0px;
    color: #ffffff;
}

    .menu-bar .row {
        background-color: #6F4B99;
        line-height: 50px;
        padding-left: 10px;
    }

    .menu-bar .col {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center;
        max-width: 14%;
    }


        .menu-bar .col:hover {
            color: #6F4B99;
            background-color: #DBDEE3;
        }


    .menu-bar .selected {
        color: #004D44;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        background-color: #FFFFFF;
        border-top: 4px solid #004D44;
    }

.tab.selected a {
    color: #004D44;
}

.tab.selected {
    color: #004D44;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 4px solid #004D44;
}

.tab a:hover {
    color: #6F4B99;
}

.tab:hover {
    color: #6F4B99;
}

.menu-bar .col1 {
    flex: 1.2 0 0;
}

.menu-bar .col2 {
    flex: 1.4 0 0;
}

.menu-bar .col3 {
    flex: 1.9 0 0;
}

.menu-bar .col4 {
    flex: 1.1 0 0;
}

.menu-bar .col5 {
    flex: 0.8 0 0;
}

.menu-bar .col6 {
    flex: 1.2 0 0;
}

.menu-bar .col7 {
    flex: 0.4 0 0;
}

.menu-bar .col8 {
    flex: 0.5 0 0;
}

.menu-bar .col9 {
    flex: 0.8 0 0;
}

.menu-bar .col10 {
    flex: 0.5 0 0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.bottombar {
    color: #5D6978;
    font-size: 14px;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 1320px;
}

    .bottombar .footermenu {
        border-top: 1px solid #DBDEE3;
        padding-top: 10px;
    }

    .bottombar a {
        float: right;
        color: #5D6978;
    }
/* LOGIN AREA*/

.body-content.login {
    background-color: #f7f7f7;
}

.login-area {
    float: left;
    width: 100%;
    height: auto;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

    .login-area p {
        font-size: 14px;
    }

    .login-area h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

.login-panel {
    width: 100%;
    float: left;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: #FFf;
}

.logout-panel {
    color: #FFFFFF;
    margin-left: 20px;
    float: right;
    border: solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
}

    .logout-panel a {
        color: #ffffff
    }

.no-account-panel, .login-panel {
    min-height: 390px;
}

.no-account-panel {
    width: 50%;
    float: left;
    padding-left: 20px;
    background-image: url('../images/form-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 20px;
    border-radius: 0px 5px 5px 0px;
    color: #FFF;
}

    .no-account-panel h2 {
        color: #fff;
    }

.login-section {
    padding-left: 25%;
    padding-right: 25%;
}

.login-form label, .login-form input, .login-form select {
    max-width: none;
    width: 100%;
}

.login-buttons {
    margin-top: 60px;
}

.contact-us-link, .contact-us-link:hover {
    padding: 8px 10px;
    border-radius: 5px;
    color: #2c3e50;
    line-height: 16px;
    font-weight: 400;
    background-color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

.form-item {
    margin-bottom: 40px;
}

.field-validation-valid {
    display: none;
}

.content-page-header {
    margin-left: 20px;
    margin-bottom: 26px;
}

.content-page {
    padding-left: 20px;
    padding-right: 20px;
}

.admin-page {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

    .content-page .row, .admin-page .row {
        margin-right: 0px;
        margin-left: 0px;
    }

.col.col-first {
    padding-left: 0px;
}

.inner-col {
    margin-right: 10px;
    border-top: 2px solid #6F4B99;
}

.col-header {
    line-height: 30px;
    font-weight: bold;
    color: #004D44;
    font-size: 13px;
    height: 45px;
    border-bottom: 1px solid #DBDEE3;
}

.module-col-header {
    line-height: 30px;
    font-weight: bold;
    color: #004D44;
    font-size: 16px;
    height: 45px;
    border-bottom: 1px solid #DBDEE3;
}

.row-listing-label {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #00241A;
    border-bottom: 1px solid #DBDEE3;
}

.security-summary {
    height: 30px;
    color: #5D6978;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
}

.user-summary {
    height: 30px;
    color: #5D6978;
    font-size: 14px;
    line-height: 30px;
}

.black-bold {
    color: #000000;
    font-weight: bold;
}


.row.group-area {
    background-color: #F8FAFC;
}


.admin-area label {
    height: 24px;
    color: #5D6978;
    font-size: 16px;
    line-height: 24px;
}

.admin-area select {
    height: 40px;
    width: 550px;
    color: #00241A;
    font-size: 16px;
    border: 1px solid #A5AAB0;
    opacity: 0.6;
}

.group-info .row {
    background-color: #F8FAFC;
}

.group-info .col {
    border-top: 1px solid #DBDEE3;
    margin-right: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.group-info label {
    height: 30px;
    color: #5D6978;
    font-size: 12px;
    line-height: 30px;
    font-family: Lato;
}

.group-info span {
    height: 30px;
    color: #00241A;
    font-size: 13px;
    line-height: 30px;
    font-family: Lato;
    font-weight: bold;
}

.check-login .group-info {
    background-color: #f8fafc;
}

.col-small {
    width: 30%;
}

.security-group-access {
    margin-top: 30px;
    margin-bottom: 30px;
}

.action-button {
    margin-top: 30px;
}

    .action-button span {
        margin-left: 10px;
        font-weight: bold;
    }

.unassigned-user {
    font-weight: bold;
    text-align: left;
    color: #AE1122;
    margin-top: 40px;
}

.sub-menu-parent {
    cursor: pointer;
}

.hr-menu li {
    list-style: none;
    text-align: left;
}

.sub-menu {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    background-color: #FFFFFF;
    border: 2px solid #6F4B99;
    padding-left: 0px !important;
    width: 250px;
}

    .sub-menu a {
        color: #5d6978;
    }

        .sub-menu a:hover {
            color: #A5AAB0;
        }

.menu-section {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    width: 100%;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:hover .sub-menu {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.sub-heading {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    color: #6F4B99;
    margin-left: 20px;
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
}

.sub-menu-item {
    border-bottom: 1px solid #dbdee3;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
}

    .sub-menu-item a {
        font-weight: bold;
        margin-left: 20px;
    }

.tab a {
    color: #FFFFFF;
}

    .tab a: hover {
        color: #FFFFFF;
    }



.report-tree {
    width: 190px;
    float: left;
    margin-top: 20px;
}

.report-viewer .report-tree {
    margin-right: 20px;
}

.report-tree ul {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #A5AAB0;
}

.report-tree li {
    list-style: none;
    color: #5D6978;
    line-height: 30px;
    height: 30px;
    border-top: 1px solid #DBDEE3;
}


    .report-tree li span {
        font-size: 12px;
        font-weight: bold;
    }


    .report-tree li a {
        color: #5D6978;
        font-size: 11px;
        margin-left: 10px;
        width: 100%;
    }

.summary-area {
    width: 1000px;
    float: left;
    margin-left: 40px;
}


    .summary-area .security-summary {
        margin-left: -20px;
    }

    .summary-area .user-summary {
        margin-left: -20px;
    }

    .summary-area h1 {
        height: 36px;
        width: 701px;
        color: #6F4B99;
        font-family: Lato;
        font-size: 26px;
        font-weight: bold;
        line-height: 36px;
        margin-left: -20px;
    }


/*.admin-menu .row {
    background-color: #6F4B99;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

    .admin-menu .row .col {
        font-size: 13px;
        font-weight: bold;
        line-height: 50px;
    }

.admin-menu .row .col.selected {
    color: #004D44;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 4px solid #004D44;
}*/

.administration-section {
    width: 100%;
    display: block;
    float: left;
    margin-top: 50px;
}

.admin-panel.filehistory-panel {
    width: 33%;
}

.admin-panel {
    width: 50%;
    float: left;
}

    .admin-panel i {
        font-size: 25px;
        color: #6F4B99;
    }

.admin-inner-panel {
    margin: 10px;
    border: 2px solid #6F4B99;
    padding: 20px;
    border-radius: 5px;
}

.heading-section a {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #5D6978;
}

.details-section {
    font-size: 16px;
    margin-top: 5px;
}

.modules {
    margin-bottom: 50px;
}

.admin-page .info-text {
    margin-left: 10px;
}

.admin-homepage {
    padding-left: 20px;
    padding-right: 20px;
}

.admin-content-page-header {
    margin-left: 20px;
}

.link-section {
    margin-top: 10px;
}

    .link-section a {
        color: #375aaa;
        font-size: 13px;
        margin-right: 20px;
    }

        .link-section a:hover {
            color: #A5AAB0;
        }

.main-breadcrumb {
    margin-left: 20px;
    color: #00241A;
    margin-bottom: 20px;
}

    .main-breadcrumb a {
        color: #00241A;
    }

        .main-breadcrumb a:hover {
            color: #A5AAB0;
        }

.module-col {
    min-width: 380px;
    max-width: 380px;
}

.validation-summary-errors li {
    list-style: none;
    background-color: rgba(228, 35, 18, 0.2);
    border: 1px solid #AE1122;
    margin-bottom: 20px;
    text-align: center;
    height: 64px;
    color: #AE1122;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
}

.validation-summary-errors li, .validation-summary-errors ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0px;
}

.login-buttons input {
    min-width: 140px;
}

.remove-group-area .group-info {
    background-color: #F8FAFC;
}

.register-form label, .register-form input, .register-form select {
    max-width: none;
    width: 90%;
}

.register-form {
    width: 50%;
    padding: 20px;
    background-color: #F8FAFC;
    margin-top: 20px;
    float: left;
}

.myaccount-homepage .row {
    margin-left: 0px;
    margin-right: 0px;
}

.myaccount-homepage h5 {
    height: 24px;
    color: #5D6978;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.myaccount-homepage a {
    color: #6F4B99;
}

    .myaccount-homepage a:hover {
        font-weight: bold;
    }

.contact-us h5 {
    height: 24px;
    color: #5D6978;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.paragraph-space {
    margin-top: 60px;
}

.contact-us h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.contact-us a {
    color: #6F4B99;
}

    .contact-us a:hover {
        font-weight: bold;
    }

.contact-us {
    padding-left: 20px;
    padding-right: 20px;
}

.about-us-background {
    background-color: #F8FAFC;
    border-top: 2px solid #6F4B99;
}

    .about-us-background.col {
        padding: 30px;
    }

.contact-us.body-container {
    border-top: 50px solid #6F4B99;
}

.contact-page .menu-bar {
    line-height: 50px;
    height: 70px;
}

.contact-page .body-content {
    padding-left: 0;
    padding-right: 0;
}

.contact-page .row {
    margin-left: 0px;
    margin-right: 0px;
}

.warning-text {
    color: #AE1122;
    font-size: 12px;
    font-weight: bold;
}

.success-panel {
    color: #6F4B99;
    font-weight: bold;
}

.report-tree .report-link:hover {
    background-color: #C3EFEA;
}

    .report-tree .report-link:hover a {
        color: #00241A;
    }

.report-tree .selected-report a {
    color: #6F4B99;
    font-weight: bold;
}

.my-account-link {
    font-size: 16px;
    font-weight: normal;
}

    .my-account-link:hover {
        text-decoration: underline;
    }

.return-homepage {
    color: #6F4B99;
}

    .return-homepage:hover {
        text-decoration: underline;
    }

.padding-bottom-30 {
    padding-bottom: 30px;
}

.admin-page .header-row {
    font-weight: bold;
}

.admin-page .row {
    border-bottom: 1px solid #dbdee3;
    font-size: 14px;
}

    .admin-page .row .col {
        padding: 5px;
    }


.scheme {
    margin: 20px 10px 20px 10px;
}

    .scheme .icon-check {
        color: green;
        font-weight: bold;
    }

    .scheme .icon-exclamation {
        color: red;
        font-weight: bold;
    }

    .scheme .header-row {
        font-weight: bold;
    }

    .scheme .row {
        font-size: 14px;
        border-bottom: #dbdee3 1px solid;
    }

.main-breadcrumb a, .main-breadcrumb {
    color: #999;
}

    .main-breadcrumb a:hover {
        color: #6F4B99;
    }

.large_chart_section {
    width: 100%;
    float: left;
    
}

.scheme-details canvas {
    width: 100% !important;
    max-width: 1100px;
    height: 400px;
}

.action-panel {
    width: 100%;
    margin-left: 30px;
}

.year-action {
    width: 8.7%;
    float: left;
    text-align: center;
    margin-right: 10px;
    color: #FFFFFF;
    background-color: #6F4B99;
    border-radius: 5px;
    padding: 8px;
    font: bold 12px/16px "lato";
    text-transform: uppercase;
}

.year-action:hover {
    background-color: #1a3e70;
}

.year-action.empty {
    background-color: #F7F7F7 !important;
    color: #333333;
}


.legend-box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.legend-grey {
    background-color: rgb(121, 140, 155);
}

.breadcrumb-separator {
    padding: 0px 5px;
}

.scheme-log {
    margin-top: 50px;
}

.scheme-log .header-row {
    margin-top: 20px;
}

.grid-list-inner {
    margin-right: 20px;
}


.usage.row {
    padding: 5px 20px;
    display: block;
    width: auto;
    border-bottom: #dbdee3 1px solid;
    font-size: 14px;
}

.usage.row p {
    margin-bottom: 0.5em;
}

.text-muted {
    font-size: 10px;
}

.scheme-log {
    margin-bottom: 50px;
}

.highlight-name {
    font-weight: bold;
}

.file-col-width {
    width: 50%;
    overflow: hidden;
}
.col-small-width {
    width: 10%;
}

.col-middle-width {
    width: 20%;
}