﻿
@{
    ViewBag.Title = "Contact Us";
    ViewBag.ContainerClass = "contact-page";
}

<div class="contact-us">
    <h1>Contact Us</h1>
    <div class="clearboth"></div>


    <div class="row">
        <div class="col">

            <h5>Access to the Accrued Liability Application</h5>
            Access to the Accrued Liability Application is controlled by the members of the PER Pensions team. All requests should go to John Pender, copying the Data Analytics team in the OGCIO on <a href="mailto:dataanalytics@per.gov.ie">dataanalytics@per.gov.ie</a>

        </div>

        <div class="col about-us-background">
            <h4>About the Accrued Liability Application</h4>
            The Accrued Liability application collects and aggregates data collected via the Data Gathering and Validation tool (https://dgvt.gov.ie) from all public bodies. The data is collected every 3 years and loaded into the application. Data is then aggregated to provide a variety of reports and also enabling the downloading of the data to feed into other applications and resources.

        </div>

    </div>

</div>