﻿@{
    ViewBag.Title = "File History";
}

@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>Accrued Liability - File History</h1>
    </div>
}

<div class="admin-homepage">
    Please select the scheme to view and download the data related to the scheme
    <div class="administration-section">
        <div class="clearboth"></div>

        <div class="admin-panel filehistory-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-docs"></i>
                    @Html.ActionLink("Pensions in Payment", "Payments")
                </div>
                <div class="details-section">
                    <span>Click here to create a view data relating to Pensions in Payment</span>
                </div>
            </div>
        </div>
        <div class="admin-panel filehistory-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-docs"></i>
                    @Html.ActionLink("Deferred Pensions", "Deferreds")
                </div>
                <div class="details-section">
                    <span>Click here to create a view data relating to Defered Pensions</span>
                </div>
            </div>
        </div>
        <div class="admin-panel filehistory-panel">
            <div class="admin-inner-panel">
                <div class="heading-section">
                    <i class="icon-docs"></i>
                    @Html.ActionLink("Actives", "Actives")
                </div>
                <div class="details-section">
                    <span>Click here to create a view data relating to Active Public Servants</span>
                </div>
            </div>
        </div>
    </div>
</div>
