﻿@using Databank.Extensions
@using Services.Enum
@model Databank.Models.SchemeDetailsViewModel


@{
    ViewBag.Title = "Accrued Liability - File History by Relevant Authority";

    string schemeDescription;

    switch (Model.SchemeType)
    {
        case SchemeType.Actives:
            schemeDescription = "Actives";
            break;
        case SchemeType.Deferreds:
            schemeDescription = "Deferred Pensions";
            break;
        case SchemeType.Payments:
            schemeDescription = "Pensions in Payment";
            break;
        case SchemeType.Unknown:
            schemeDescription = "Unknown";
            break;
        default:
            schemeDescription = "Pensions in Payment";
            break;
    }
}

@section SiteHeading
{
    <div class="admin-content-page-header">
        <h1>@Model.FileHistoryViewModel.RelevantAuthority.RelevantAuthorityName</h1>
    </div>
}

@section Breadcrumb
{
    <div class="main-breadcrumb admin-content-page-header">
        <a href="@Url.Action("Index", "Home", null)">Home</a><span class="breadcrumb-separator">/</span>
        <a href="@Url.Action("Index", "FileHistory", null)">File History</a><span class="breadcrumb-separator">/</span>
        <a href="@Url.Action( Model.SchemeType.ToString(), "FileHistory", null)">@schemeDescription</a>
        <span class="breadcrumb-separator">/</span>
        @Model.FileHistoryViewModel.RelevantAuthority.RelevantAuthorityName
    </div>
}

<div class="scheme-details admin-homepage">
    <h2>
        @schemeDescription
    </h2>
    <div id="div_@Model.LargeChartViewModel.CanvasId" class="large_chart_section">
        <div class="legend">
            <div class="legend-item">
                <div class="legend-box legend-grey"></div>
                <label>Record Count</label>
            </div>
        </div>
        <div class="clearboth"></div>

        @{
            Html.RenderPartial("_Chart", Model.LargeChartViewModel, viewData: null);
        }

        <div class="action-panel">
            @foreach (var year in Model.LargeChartViewModel.Labels)
            {
                var md = Model.FileHistoryViewModel.Metadata.FirstOrDefault(x => x.Year.ToString() == year);
                if (md != null && md.RecordCount == null)
                {
                    <div class="year-action empty">
                        <span>N/A</span>
                    </div>

                }
                else
                {
                    <a href='@Url.Action("FileManager", "FileHistory", new {relevantAuthorityId = Model.FileHistoryViewModel.RelevantAuthority.RelevantAuthorityId, schemeType = Model.SchemeType, year = Convert.ToInt32(year)})'>
                        <div class="year-action">
                            View
                        </div>
                    </a>
                }
            }
        </div>
    </div>
    <div class="clearboth"></div>
    <div class="scheme-log">

        @if (Model.FileLogs != null && Model.FileLogs.Any())
        {
            <div class="grid-list half">
                <div class="grid-list-inner">
                    <h2>
                        <i class="icon-clock"></i>
                        Download Activities
                    </h2>
                    @foreach (var log in Model.FileLogs)
                    {
                        <div class=" usage row">
                            <p>
                                @log.UserName has download the file &nbsp;<span class="highlight-name"><a href="~/DownloadFile.ashx?v=@log.VersionId&raId=@Model.FileHistoryViewModel.RelevantAuthority.RelevantAuthorityId" target="_blank">@log.FileName</a></span>&nbsp; for period &nbsp;<span class="highlight-name">@log.Period</span>

                                <div class="text-muted">
                                    @log.LogDate.ToString("dd/MM/yyyy HH:mm")
                                </div>
                            </p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="clearboth"></div>
</div>
