﻿@using Databank.Extensions
@using PagedList.Mvc
@using Services.Enum
@model PagedList.IPagedList<Databank.Models.FileHistoryViewModel>

@{
    ViewBag.Title = ((SchemeType)ViewBag.Scheme).GetDescription();

    string schemeDescription;

    switch ((SchemeType)(ViewBag.Scheme))
    {
        case SchemeType.Actives:
            schemeDescription = "Actives";
            break;
        case SchemeType.Deferreds:
            schemeDescription = "Deferred Pensions";
            break;
        case SchemeType.Payments:
            schemeDescription = "Pensions in Payment";
            break;
        case SchemeType.Unknown:
            schemeDescription = "Unknown";
            break;
        default:
            schemeDescription = "Pensions in Payment";
            break;
    }
}

<div class="admin-content-page-header">
    @section SiteHeading
    {
        <div class="admin-content-page-header">
            <h1>
                Accrued Liability - File Upload History
            </h1>
        </div>
    }

    <h2>
         @schemeDescription
    </h2>

    @{
        var last8Periods = new List<int>();

        for (var i = 1; i <= 8; i++)
        {
            last8Periods.Add((DateTime.Today.Year - 1) + i);
        }

        var sortedPeriods = last8Periods.OrderBy(x => x);

        var action = "Payments";

        if (ViewBag.Scheme == SchemeType.Payments)
        {
            action = "Payments";
        }
        else if (ViewBag.Scheme == SchemeType.Actives)
        {
            action = "Actives";
        }
        else if (ViewBag.Scheme == SchemeType.Deferreds)
        {
            action = "Deferreds";
        }
    }


    @using (Html.BeginForm(action, "FileHistory", null, FormMethod.Post, new { @class = "search-form" }))
    {
        <div class="search-bar">
            <i class="icon-magnifier"></i>
            @Html.TextBox("SearchString")
            <input type="submit" class="form-button" value="Search" />
        </div>
    }
</div>

<div class="grid-list scheme admin-homepage">
    @if (Model.Count > 0)
    {
        <div class="clearboth"></div>
        <div class="header-row row">
            <div class="col">
                Relevant Authority
            </div>

            @foreach (var period in sortedPeriods)
            {
                <div class="col col-skinny-plus">
                    @period
                </div>
            }

        </div>
        foreach (var fileHistoryVm in Model)
        {
            <div class="row">
                <div class="col">
                    @Html.ActionLink(@fileHistoryVm.RelevantAuthority.RelevantAuthorityName, "SchemeDetails", "FileHistory", new { relevantAuthorityId = fileHistoryVm.RelevantAuthority.RelevantAuthorityId, schemeType = (SchemeType)ViewBag.Scheme }, new { @class = "user-link" })
                </div>

                @foreach (var period in sortedPeriods)
                {

                    var meta = fileHistoryVm.Metadata.FirstOrDefault(x => x.Year == period && x.SchemeType == ((SchemeType)ViewBag.Scheme).GetDescription());
                    if (meta != null && meta.Success != null && meta.Success.Value)
                    {
                        <div class="col col-skinny-plus">
                            <i class="icon-check"></i>
                        </div>
                    }
                    else
                    {
                        <div class="col col-skinny-plus">
                            <i class="icon-exclamation"></i>
                        </div>
                    }
                }
            </div>
        }
    }
    else
    {
        <span>I'm sorry, there aren't relevant authorities to view</span>
    }

    @{
        var pLro = PagedListRenderOptions.OnlyShowFivePagesAtATime;
        pLro.DisplayLinkToFirstPage = PagedListDisplayMode.Always;
        pLro.DisplayLinkToLastPage = PagedListDisplayMode.Always;
        pLro.LinkToPreviousPageFormat = "<i class=\"icon-arrow-left\"></i>";
        pLro.LinkToNextPageFormat = "<i class=\"icon-arrow-right\"></i>";

        pLro.LinkToFirstPageFormat = "<i class=\"icon-control-start\"></i>";
        pLro.LinkToLastPageFormat = "<i class=\"icon-control-end\"></i>";
    }

    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action(action, new { page, ViewBag.CurrentFilter }), pLro)
    }
</div>